*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content-ctn{
    margin-top: 40px;
    width: 100vw;
    height: 70vh;
}
.table-heading{
    color: cornflowerblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 200px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color:rgb(65, 153, 153);
  }